*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(177, 125, 227);
}
h1{
    display: flex;
    justify-content: center;
    margin-bottom: -30px;
}
.line1{
    display: flex;
    margin-top: 80px;
    justify-content: center;
}
.line1 .box{
    height: 170px;
    width: 170px;
    margin-right: 100px;
    background-color: aqua;
}
.line1 .num{
    margin: 150px 70px 0 0;
}
.box1{
    animation: box1 4s linear infinite alternate; 
}
@keyframes box1{
    0%{
        transform: skew(20deg);
    }
    100%{
        transform: skew(-20deg);
    }
}
.box2{
    animation: box2 4s linear infinite alternate;
}
@keyframes box2{
    0%{
        transform: skewy(-20deg);
    }
    100%{
        transform: skewy(20deg);
    }
}
.box3{
    animation: box3 4s ease-out infinite;
}
@keyframes box3{
    100%{
        transform: rotate(360deg);
    }
}
.line4{
    margin-top: 120px;
}
.line4 .box41{
    height: 85px;
    animation: box41 4s linear infinite alternate;
    transform-origin: center;
}
@keyframes box41{
    50%{
        transform: scaleY(2);
    }
    100%{
        transform: scaleY(1);
    }
}

.line4 .box42{
    height: 170px;
    width: 50px;
    animation: box42 4s linear infinite alternate;
    transform-origin: center;
}
@keyframes box42{
    50%{
        transform: scaleX(2);
    }
    100%{
        transform: scaleX(1);
    }
}
.box43{
    animation: box43 3s linear infinite alternate;
}
@keyframes box43{
    100%{
        transform: rotate(170deg);
    }
}
a{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin-top: 50px;
}
ol li{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.page1box{
    height: 150px;
    margin-top: 20px;
    width: 150px;
    background-color: aquamarine;
}
ol .num{
    margin: 140px 20px 0 0;
}
.page1box{
    transition: all 3s linear;
    transform-origin: left;
}
.page1box:hover{
    transform: scaleX(3);
}
.page1box2{
    height: 150px;
    width: 150px;
    background-color: aquamarine;
    transition: all 3s linear;
    transform-origin: left;
}
.page1box2:hover{
    width: 300px;
    height: 300px;
}



/* .firstline{
    display: flex;
    column-gap: 100px;
    margin-top: 70px;
}
ol{
    display: block;
}
.firstbox{
    height: 150px;
    width: 150px;
    background-color: aqua;
    animation: line1 4s linear infinite alternate;
}
@keyframes line1{
    0%{
        transform: skew(25deg);
    }
    100%{
        transform: skew(-25deg);
    }
}
@keyframes line2{
    0%{
        transform: skewy(25deg);
    }
    100%{
        transform: skewy(-25deg);
    }
}
.secondbox{
    height: 150px;
    width: 150px;
    background-color: aqua;
    animation: line2 4s linear infinite alternate;
}
.thirdbox{
    height: 150px;
    width: 150px;
    background-color: aqua;
    animation: line3 4s linear infinite;
}
@keyframes line3{
    100%{
        transform: rotate(360deg);
    }
}
.line4{
    margin-top: 150px;
}
.box1{
    height: 75px;
    width: 150px;
    background-color: aqua;
    animation: firstbox 4s ease-in-out;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    
}
@keyframes firstbox{
    50%{
        transform: scaleY(2);
    }
    100%{
        transform: scaleY(1);
    }
}
.box2{
    height: 150px;
    width: 70px;
    background-color: aqua;
    animation: secondbox 4s ease-in-out;
    animation-iteration-count: infinite;
    transform-origin: center;
}
@keyframes secondbox{
    50%{
        transform: scaleX(2);
    }
    100%{
        transform: scaleX(1);
    }
}
.box3{
    height: 150px;
    background-color: aqua;
    width: 150px;
    animation: thirdbox 5s ease-in-out;
    animation-iteration-count: infinite;   
}
@keyframes thirdbox{
    50%{
        transform: rotate(-90deg);
    }
    100%{
        transform: rotate(80deg);
    }
}
a{
    display: block;
    font-size: 3rem;
    margin-top: 20px;
    margin-left: 30%;
    text-decoration: underline;
}
ol{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page1box{
    height: 150px;
    width: 150px;
    background-color: greenyellow;
    margin-top: 20px;
    transform-origin: left;
}
.page1box1:hover{
    transform: scaleX(3);
    transition: all 2s linear;
}
.page1box2{
    transition: all 2s ease-in-out;
    transform-origin: left;
}
.page1box2:hover{
    transform: scale(3, 3);
    height: 350px;
    width: 350px;
}

                                   /* Page2 */
/* .text{
    position: absolute;
    top: 0;
    right: 30%;
    z-index: 5;
}             
.text span{
    font-size: 3rem;
    margin-right: 10px;
}                     
.text1{
    background-color: orange;
} 
.text2{
    background-color: white;
}
.text3{
    background-color: green;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url(./img/cloud.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}
.road{
    height: 130px;
    width: 500%;
    background-image: url(./img/road.jpg);
    background-size: contain;
    display: block;
    position: absolute;
    left: 0;
    bottom: -50px;
    right: 0;
    z-index: 1;
    background-repeat: repeat-x;
    animation: road 25s linear infinite;
}
@keyframes road{
    100%{
        transform: translateX(-3400px);
    }
}
.build{
    height: 790px;
    width: 500%;
    background-image: url("./img/buliding.png");
    display: block;
    position: absolute;
    bottom: 80px;
    right: 0;
    left: 0;
    background-repeat: repeat-x;
    z-index: 1;
    animation: build 20s linear infinite;
}
@keyframes build{
    100%{
        transform: translateX(-2000px);
    }
}
.car{
    position: absolute;
    bottom: -55px;
    right: 480px;
    z-index: 5;
}
.car .flag{
    position: absolute;
    top: 20px;
    right: 350px;
    height: 70px;
    width: 70px;
} */
