*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(177, 125, 227);
    margin: 0;
}
h1{
    display: flex;
    justify-content: center;
    margin-bottom: -30px;
}
.line1{
    display: flex;
    margin-top: 80px;
    justify-content: center;
}
.line1 .box{
    height: 170px;
    width: 170px;
    margin-right: 100px;
    background-color: aquamarine;
}
.line1 .num{
    margin: 150px 70px 0 0;
}
.box1{
    animation: box1 4s linear infinite alternate; 
}
@keyframes box1{
    0%{
        transform: skew(20deg);
    }
    100%{
        transform: skew(-20deg);
    }
}
.box2{
    animation: box2 4s linear infinite alternate;
}
@keyframes box2{
    0%{
        transform: skewy(-20deg);
    }
    100%{
        transform: skewy(20deg);
    }
}
.box3{
    animation: box3 4s ease-out infinite;
}
@keyframes box3{
    100%{
        transform: rotate(360deg);
    }
}
.line4{
    margin-top: 120px;
}
.line4 .box41{
    height: 85px;
    animation: box41 4s linear infinite alternate;
    transform-origin: center;
    background-color: blue;
}
@keyframes box41{
    50%{
        transform: scaleY(2);
    }
    100%{
        transform: scaleY(1);
    }
}

.line4 .box42{
    height: 170px;
    width: 50px;
    animation: box42 4s linear infinite alternate;
    background-color: yellowgreen;
    transform-origin: center;
}
@keyframes box42{
    50%{
        transform: scaleX(2);
    }
    100%{
        transform: scaleX(1);
    }
}
.box43{
    animation: box43 3s linear infinite alternate;
}
@keyframes box43{
    100%{
        transform: rotate(170deg);
    }
}
a{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin-top: 50px;
}
                                /*page1 */
.container1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.line01{
    height: 150px;
    width: 150px;
    margin-top: 40px;
    background-color: navy;
}
.line01{
    transition: all 2s linear;
}
.line01:hover{
    width: 450px;
}
.page1box2{
    height: 150px;
    width: 150px;
    background-color: navy;
    transition: all 2s linear;
}
.page1box2:hover{
    width: 450px;
    height: 450px;
}

                                   /* Page3 */
.text{
    position: absolute;
    top: 0;
    right: 30%;
    z-index: 5;
}             
.text span{
    font-size: 3rem;
    margin-right: 10px;
}                     
.text1{
    background-color: orange;
} 
.text2{
    background-color: white;
}
.text3{
    background-color: green;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url(./img/cloud.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}
.sun{
    position: absolute;
    right: 20px;
    top: 90px;
}
.sun img{
    animation: sun 50s linear infinite;
}
@keyframes sun {
    0%{
        transform: translateX(10px);
    }
    100%{
        transform: translateX(-1500px);
    }
}
.road{
    height: 130px;
    width: 500%;
    background-image: url(./img/road.jpg);
    background-size: contain;
    display: block;
    position: absolute;
    left: 0;
    bottom: -50px;
    right: 0;
    z-index: 1;
    background-repeat: repeat-x;
    animation: road 25s linear infinite;
}
@keyframes road{
    100%{
        transform: translateX(-3400px);
    }
}
.build{
    height: 790px;
    width: 500%;
    background-image: url("./img/buliding.png");
    display: block;
    position: absolute;
    bottom: 80px;
    right: 0;
    left: 0;
    background-repeat: repeat-x;
    z-index: 1;
    animation: build 20s linear infinite;
}
@keyframes build{
    100%{
        transform: translateX(-2000px);
    }
}
.car{
    position: absolute;
    bottom: -55px;
    right: 480px;
    z-index: 5;
    animation: car 2s linear alternate infinite;
}
@keyframes car{
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }
}
.car .flag{
    position: absolute;
    top: 20px;
    right: 350px;
    height: 70px;
    width: 70px;
    animation: flag 2s linear alternate infinite;
}
@keyframes flag {
    50%{
        transform: translateY(2px);
    }
    100%{
        transform: translateY(-2px);
    }
}
.wheel{
    position: absolute;
    width: 600px;
    bottom: 76px;
    left: 136px;
}
.wheel img{
    margin-right: 182px;
    animation: wheel .7s linear infinite;
}
@keyframes wheel {
    100%{
        transform: rotate(360deg);
    }
}